@media only screen and (max-width: 414px) {
    /* шапка сайта доделать*/
    .container_header {
        padding-top:0 !important;
    }
    .about_company {
        max-width: 678px;
        padding: 81px 30px 305px 30px;
    }

    .presentation_of_works {
        padding: 305px 67px 149px 57px;
    }

    .container_portfolio_1 {
        width: 100% !important;
    }

    .container_portfolio_2 {
        width: 100% !important;
    }

    .container_portfolio_3 {
        width: 100% !important;
    }

    .container_portfolio_4 {
        width: 100% !important;
    }

    .container_portfolio_5 {
        width: 100% !important;
    }

    .container_portfolio_6 {
        width: 100% !important;
    }

    .container_portfolio_7 {
        width: 100% !important;
    }

    .container_portfolio_8 {
        width: 100% !important;
    }

    .description {
        padding: 307px 43px 135px 33px;
    }

    .specialist {
        flex-wrap: wrap;
        padding: 0 30px 305px 30px;
    }

    .ceo {
        width: 100% !important;
        margin: 60px 0;
    }

    .designer {
        width: 100% !important;
        margin: 60px 0;
    }

    .developer {
        width: 100% !important;
        margin: 60px 0;
    }

    .we_like_to_write {
        padding: 0 100px;
    }

    .image_article {
        width: 100% !important;
    }

    .description_articles {
        width: 100% !important;
    }

    .container_articles {
        margin: 0 33px 77px 38px;
    }

    .articles {
        padding-bottom: 306px !important;
    }

    .container_map_contact {
        margin: 30px;
    }

    .all_contacts span {
        font-size: 15px !important;
    }

    .developer_contacts {
        padding-left: 15px;
    }

    .name_developer {
        padding-bottom: 15px;
    }

    .header_block {
        background-image: url("../images/img_mob_header.jpg") !important;
    }

    .logo_menu_block {
        background-color: #545a5b;
    padding:15px;
    }
    .container_header h1 {
        padding-top:150px !important;
        font-size:55px !important;
    }
    .container_map_contact{
        padding-bottom:20px;
    }
}